:root {
  --primary-color: #c39c69;
  --primary-text-color: #1a1a1a;
  --left-menu-width: 240px;
  --text-size-small: 12px;
  --text-size-default: 13px;
  --text-size-middle: 16px;
  --text-size-large: 18px;
  --border-radius: 3px;
}
body,
p,
pre,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, Segoe UI, PingFang SC, Microsoft Yahei, Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: var(--text-size-default);
  color: var(--primary-text-color);
}
.d-flex {
  display: flex;
}
.d-f-center {
  display: flex;
  align-items: center;
}
.statistics .item {
  padding: 10px 30px;
  display: flex;
  border-right: solid 1px #eee;
}
.statistics .item:last-child {
  border-right: none;
}
.statistics .icon {
  display: flex;
  align-items: center;
}
.statistics .icon img {
  width: 24px;
}
.statistics .content {
  margin-left: 10px;
}
.statistics .title {
  font-size: var(--text-size-small);
}
.statistics .value {
  color: #c39c69;
  font-size: var(--text-size-middle);
  font-weight: 600;
}
.table-panel .search-form {
  padding: 15px;
  display: flex;
}
.table-panel .search-form span {
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px;
}
.pro-input {
  border: 1px solid #eaeaea;
  outline: none;
  border-radius: 2px;
  padding: 5px 10px;
}
.pro-input:focus,
.pro-input:hover {
  border-color: #999;
}
.pro-table {
  width: 100%;
  border-left: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  border-collapse: collapse;
}
.pro-table thead {
  background-color: #f6f6f6;
}
.pro-table td {
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 5px 10px;
  text-align: center;
}
